MEESHO_SUPPLIER_API_KEY=
MEESHO_API_BASE=https://api.meesho.io
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CONTACT_EMAIL=shivblessenterprise@gmail.com
NEXT_PUBLIC_ADMIN_PASSWORD=shivbless2024
